{% extends 'base.html' %}

{% block description %}Here all the courses are shown{% endblock %}
{% block title %}Training{% endblock %}
{% block user %}{{ user.name.upper() }}{% endblock %}
{% block user_image %}{{ user.id }}.jpg{% endblock %}

{% block pageContent %}
          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">{{ message }} <i class="far fa-frown"></i></p>
            <p class="text-gray-500 mb-0">It looks like we didn't have time to implement it...</p>
            <a href="/">&larr; Back to Dashboard</a>
          </div>

{% endblock %}