{% extends 'base.html' %}

{% block description %}Here all the employees are shown{% endblock %}
{% block title %}All employees{% endblock %}
{% block user %}{{ user.name.upper() }}{% endblock %}
{% block user_image %}{{ user.id }}.jpg{% endblock %}
{% block additional_css_or_js %}
    <!-- Custom styles for this page -->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block pageContent %}
<!-- Page Heading -->
    <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Complete personnel list</h1>
          <br>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Personnel - All</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Surname</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Hierarchy</th>
                      <th>Status</th>
                      <th>Project</th>
                      <th>Profile</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for person in personnel %}
                    <tr>
                      <td>{{person.surname}}</td>
                      <td>{{person.name}}</td>
                      <!-- CHANGE HERE, DOES NOT WORK WITH ANY DATE -->
                      <td>{{((utilities[0]-person.date_of_birth).days / 365.25)| int}}</td>
                      <td>{{person.hierarchy}}</td>
                      <td>{% if person.assigned_to_project==True %}Assigned to project{% else %}Free{% endif %}</td>
                      <td>{% if person.assigned_to_project==True %}#{{person.project_id}}{% endif %}</td>
                      <td><a href="/{{ person.id }}"><i class="far fa-eye"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}
