{% extends 'base.html' %}

{% block description %}Here you can answer the requests for personnel for projects{% endblock %}
{% block title %}Requests{% endblock %}
{% block user %}{{ user.name.upper() }}{% endblock %}
{% block user_image %}{{ user.id }}.jpg{% endblock %}
{% block year %}{{ utilities[0].year }}{% endblock %}
{% block additional_css_or_js %}
<script>
    function showProject(id){
        let limit = $('#dataTable tr').length;
       for (let i=0; i<limit; i++){
            $("#projectCard"+i).css("display", "none")
        }
        $("#projectCard"+id).css("display", "block")
    }
    
    function sendform(project, employee){
         $("#project_" + project).val(project);
         $("#employee_" + employee).val(employee);
    }

</script>

{% endblock %}

{% block pageContent %}
<!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Choose request</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Project ID</th>
                      <th>Soft skills required</th>
                      <th>Hard skills required</th>
                      <th>Already satisfied?</th>
                      <th>Watch</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for required_skill in skills_requirement %}
                    <tr>
                      <td>{{ skills_requirement[required_skill][0] }}</td>
                      <td>{{ skills_requirement[required_skill][1] }}</td>
                      <td>{{ skills_requirement[required_skill][2] }}</td>
                      <td>False</td>
                      <td><a onclick="showProject({{ required_skill }})" href="#{{ skills_requirement[required_skill][0] }}"><i class="far fa-eye"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

<!-- Basic Card Example -->
    {% for required_skill in skills_requirement %}
    {% set project_id = required_skill %}
     <div class="card shadow mb-4" style="display: none" id="projectCard{{ required_skill }}">
         <div class="card-header py-3">
             <h6 class="m-0 font-weight-bold text-primary">Requests for project #{{ required_skill }}</h6>
         </div>
         <div class="card-body">
             <div class="table-responsive">
                <table class="table table-bordered" id="project{{ required_skill }}" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Project ID</th>
                      <th>Skill type</th>
                      <th>Skill</th>
                      <th>Experience required</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for request in requests %}
                    {% if request.id_project == required_skill and all_skills.get(request.skill).soft_hard == "Soft" %}
                    <tr>
                      <td>{{ request.id_project }}</td>
                      <td>{{ all_skills.get(request.skill).soft_hard }}</td>
                      <td>{{ request.skill }}</td>
                      <td>{{ request.experience }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  {% for request in requests %}
                    {% if request.id_project == required_skill and all_skills.get(request.skill).soft_hard == "Hard" %}
                    <tr>
                      <td>{{ request.id_project }}</td>
                      <td>{{ all_skills.get(request.skill).soft_hard }}</td>
                      <td>{{ request.skill }}</td>
                      <td>{{ request.experience }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div><br>
      <div class="row">
              <!-- =============================================================================================== -->
              <!-- =============================================================================================== -->
              <!-- =============================================== BEST ONE ====================================== -->
              <!-- =============================================================================================== -->
              <!-- =============================================================================================== -->
                <span style="padding-right: 30px"></span>
                <div class="col-xl-3 col-lg-5">
                    {% set option = everything[project_id][0]  %}
                    <div class="card shadow mb-4 pb-4 h-100">
                    <!-- Card Header - Dropdown -->
                        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                          <h6 class="m-2 font-weight-bold text-primary">Best option</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body d-flex flex-column">
                          <div class="-file-image">
                            <img style="width: 14vw;"
                                 class="rounded-circle" id="{{option["employee"].id}}_photo" src="/static/employees_pictures/{{option["employee"].id}}.jpg"
                                 onerror="this.onerror=null; this.src='/static/employees_pictures/default.jpeg'" alt="Default image">
                          </div><br><hr>
                          <h5 class="text-center text-primary">{{ option["employee"].name }} {{ option["employee"].surname }}</h5><br><hr>
                          {% if (option["hard"]|length) != 0 %}
                            <h6>Hard skills</h6>
                            <ul>
                                {% for skill in option["hard"] %}
                                 <li>{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if (option["soft"]|length) != 0 %}
                            <h6>Soft skills</h6>
                             <ul>
                                {% for skill in option["soft"] %}
                                 <li>{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <form class="align-text-bottom mt-auto" onsubmit="sendform({{ project_id }}, {{ option["employee"].id}})" action="/allocate" method="post">
                                <hr>
                                <h6 ><span class="text-info">Score: </span>{{ option["score"] }}</h6>
                                <hr>
                                <input style="display: none" type="text" name="project_id" id="project_{{ project_id }}" value="{{ project_id }}">
                                <input style="display: none" type="text" name="employee_id" id="employee_{{ option["employee"].id }}" value="{{ option["employee"].id }}">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Allocate to project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1"></div>
              <!-- =============================================================================================== -->
              <!-- =============================================================================================== -->
              <!-- ============================================== SECOND BEST ==================================== -->
              <!-- =============================================================================================== -->
              <!-- =============================================================================================== -->
                <div class="col-xl-3 col-lg-5">
                    {% set option = everything[project_id][1]  %}
                    <div class="card shadow mb-4 pb-4 h-100">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-2 font-weight-bold text-primary">Second best option</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body d-flex flex-column">
                            <div class="-file-image">
                                <img style="width: 14vw;"
                                     class="rounded-circle" id="{{option["employee"].id}}_photo" src="/static/employees_pictures/{{option["employee"].id}}.jpg"
                                     onerror="this.onerror=null; this.src='/static/employees_pictures/default.jpeg'" alt="Default image">
                            </div><br><hr>
                            <h5 class="text-center text-primary">{{ option["employee"].name }} {{ option["employee"].surname }}</h5><br><hr>
                            {% if (option["hard"]|length) != 0 %}
                            <h6>Hard skills</h6>
                            <ul>
                                {% for skill in option["hard"] %}
                                 <li>{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if (option["soft"]|length) != 0 %}
                            <h6>Soft skills</h6>
                             <ul>
                                {% for skill in option["soft"] %}
                                 <li>{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <form class="align-text-bottom mt-auto" onsubmit="sendform({{ project_id }}, {{ option["employee"].id}})" action="/allocate" method="post">
                                <hr>
                                <h6 ><span class="text-info">Score: </span>{{ option["score"] }}</h6>
                                <hr>
                                <input style="display: none" type="text" name="project_id" id="project_{{ project_id }}" value="{{ project_id }}">
                                <input style="display: none" type="text" name="employee_id" id="employee_{{ option["employee"].id }}" value="{{ option["employee"].id }}">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Allocate to project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1"></div>
              <!-- =============================================================================================== -->
              <!-- =============================================================================================== -->
              <!-- ============================================== THIRD BEST ===================================== -->
              <!-- =============================================================================================== -->
              <!-- =============================================================================================== -->
                <div class="col-xl-3 col-lg-5">
                    {% set option = everything[project_id][2]  %}
                    <div class="card shadow mb-4 pb-4 h-100">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-2 font-weight-bold text-primary">Third best option</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body d-flex flex-column">
                            <div class="-file-image">
                                <img style="width: 14vw;"
                                     class="rounded-circle" id="{{option["employee"].id}}_photo" src="/static/employees_pictures/{{option["employee"].id}}.jpg"
                                     onerror="this.onerror=null; this.src='/static/employees_pictures/default.jpeg'" alt="Default image">
                            </div><br><hr>
                            <h5 class="text-center text-primary">{{ option["employee"].name }} {{ option["employee"].surname }}</h5><br><hr>
                            {% if (option["hard"]|length) != 0 %}
                            <h6>Hard skills</h6>
                            <ul>
                                {% for skill in option["hard"] %}
                                 <li>{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if (option["soft"]|length) != 0 %}
                            <h6>Soft skills</h6>
                             <ul>
                                {% for skill in option["soft"] %}
                                 <li>{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <form class="align-text-bottom mt-auto" onsubmit="sendform({{ project_id }}, {{ option["employee"].id}})" action="/allocate" method="post">
                                <hr>
                                <h6 ><span class="text-info">Score: </span>{{ option["score"] }}</h6>
                                <hr>
                                <input style="display: none" type="text" name="project_id" id="project_{{ project_id }}" value="{{ project_id }}">
                                <input style="display: none" type="text" name="employee_id" id="employee_{{ option["employee"].id }}" value="{{ option["employee"].id }}">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Allocate to project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1"></div>
         </div>
     </div>
     </div>
    {% endfor %}
{% endblock %}