{% extends 'base.html' %}

{% block description %}"The dashboard, where everything starts"{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block user %}{{ user.name.upper() }}{% endblock %}
{% block user_image %}{{ user.id }}.jpg{% endblock %}
{% block year %}{{ utilities[0].year }}{% endblock %}
{% block additional_css_or_js   %}
<script src="/static/js/demo/chart-pie-demo.js"></script>
<script src="/static/js/demo/chart-bar-demo.js"></script>
<script>
window.onload = function(){
    let num_beginner = {{ utilities[4][0] }};
    let num_intermediate = {{ utilities[4][1] }};
    let num_expert = {{ utilities[4][2] }};
    let num_courses = [num_beginner, num_intermediate, num_expert];
    if ((num_beginner+num_intermediate+num_expert) == 0)
        num_courses = [50, 30, 15];
    createDoughnut("pieChartCoursesLevel", ["Beginners", "Intermediate", "Expert"], num_courses, true);
    let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                                        "October", "November", "December"];
    let values = [65, 58, 74, 120, 79, 19, 2, 1, 9, 27, 88, 52];
    createBarChart("barChartTraining", months, values, "Courses", false)
}
</script>
{% endblock%}

{% block pageContent %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" onclick="sorry()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of employees</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ utilities[1] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user-friends fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Number of skills</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ utilities[2] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-brain fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number of courses</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ utilities[4][3] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user-graduate fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">active projects</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ utilities[3] }}</div>
                    </div>
                    <div class="col-auto">
                       <i class="fas fa-tasks fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row h-100">

            <!-- Bar Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Training Overview</h6>
                    <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="barChartTraining"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Courses types</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div style="margin-bottom: 19px" class="card-body">
                  <br>
                  <div class="chart-pie pt-4 pb-2 ">
                    <canvas id="pieChartCoursesLevel"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

    {% if user.hierarchy != "Employee" %}
          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-12">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Projects requests satisfaction</h6>
                </div>
                <div class="card-body">
                  {% for project in utilities[5] %}
                  {% set percentage = ((project["satisfied"]|float)/project["total"])|round(2, 'floor') %}
                  {% set colors = ["bg-danger", "bg-dark", "bg-info", "bg-primary", "bg-warning"] %}
                  <h4 class="small font-weight-bold">{{ project["name"] }}<span class="float-right">{{ percentage*100 }}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar {{ colors[range(0, (colors|length))|random] }}" role="progressbar" style="width: {{ percentage*100 }}%" aria-valuenow="{{ percentage*100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
    {% endif %}
{% endblock %}