{% extends 'base.html' %}

{% block description %}Here all the courses are shown{% endblock %}
{% block title %}Training{% endblock %}
{% block user %}{{ user.name.upper() }}{% endblock %}
{% block user_image %}{{ user.id }}.jpg{% endblock %}
{% block additional_css_or_js %}
  <!-- Custom styles for this page -->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block pageContent %}
<!-- Page Heading -->
    <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Complete personnel list</h1>
          <br>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Courses - All</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Course name</th>
                      <th>Trained skill</th>
                      <th>Length (hours)</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for course in courses %}
                    <tr>
                      <td>{{course.id}}</td>
                      <td>{{course.name}}</td>
                      <td>{{course.skill}}</td>
                      <td>{{course.length}}</td>
                      <td>
                          <a href="/course/{{ course.id }}"><i class="far fa-play-circle"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}
